.booking-modal {
  position: relative;
  .booking-modal-content {
    // height: 00px;
    display: flex;
    flex-direction: column;

    .booking-modal-header {
      padding: 20px;
      background-color: #f6f6f6;
      border-radius: 3px 3px 0 0;
    }

    .booking-modal-body {
      height: 100%;

      .booking-body-content {
        display: flex;
        border: 1px solid #cccccc;
        padding-left: 10px;
        margin: 0 auto;
        margin-top: 10px;
        border-radius: 5px;

        &.price-booking {
          display: block;
          margin-left: 35px;
          padding: 10px 50px;
          border: 1px solid #f89008;
          box-shadow: 5px 5px #f6f0f0;
          span {
            display: block;
          }
          .price {
            display: flex;
            justify-content: center;
          }
        }

        &.gender {
          border: none;
          input:not(:first-child) {
            margin-left: 15px;
          }
          label {
            display: flex;
            align-items: center;
            margin: 0;
            margin-left: 5px;
          }
        }

        &.exam-note {
          padding: 10px;
          i {
            display: block;
          }
          textarea {
            padding: 0 10px;
            border: none;
            outline: none;
          }
        }
        &.total-price {
          display: block;
          padding: 10px;
          background-color: #f6f6f6;
          border: none;

          div {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
          }

          .total {
            margin-top: 10px;
            border-top: 1px solid #cccccc;
          }
        }

        i {
          display: flex;
          align-items: center;
        }
        input {
          height: 40px;
          outline: none;
          border: none;
          padding-left: 10px;
        }
      }

      .fullname-note {
        margin-top: 5px;
        margin-left: 20px;
        color: #8d8d8d;
      }
    }

    .booking-modal-footer {
      padding: 15px;
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      button {
        width: 100px;
        height: 40px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        outline: none;

        &:hover {
          opacity: 0.8;
        }
      }
      .confirm-booking {
        background-color: rgb(255, 177, 31);
      }
    }
  }

  .loader {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
}

/* Customize the animation for when the modal is opening */
.modal.fade .modal-dialog {
  transition: transform 0.5s;
}

/* Customize the animation for when the modal is closing */
.modal.fade.show .modal-dialog {
  transition: transform 0.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Extra large (xl) screen */
@media only screen and (min-width: 1200px) {
  /* CSS styles for extra large screens */
  /* For example: */
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
}
