.container-specialist {
  height: 100%;
  display: flex;
  flex-direction: column;
  .specialist-top {
    .specialist-detail-transparent {
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 1)
      );

      .specialist-detail-wrapper {
        margin: 0 auto;
        padding: 30px 0;

        span {
          cursor: pointer;
          color: #45c3d2;
        }
      }
    }
    .specialist-detail {
      max-height: 200px;
      overflow: hidden;

      &.see-more {
        max-height: 100%;
      }
      h2 {
        font-weight: bold;
      }
    }
  }

  .specialist-bottom {
    background-color: #eeeeee;
    padding: 20px 0;
    flex-grow: 1;
    .specialist-content-wrapper {
      margin: 0 auto;

      .doctor-city {
        margin-bottom: 20px;
        outline: none;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 10px;
      }

      .specialist-content {
        background-color: white;
        margin-bottom: 10px;
        display: flex;
        border: 1px solid #ccc;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        padding: 10px 0;

        .specialist-content-left {
          width: 50%;
          padding: 20px 10px;
        }

        .specialist-content-right {
          width: 50%;
          border-left: 1px solid #ccc;
          padding: 20px 10px;

          .doctor-schedule {
            width: 50%;
          }
        }
      }
    }
  }
}

/* Extra large (xl) screen */
@media only screen and (min-width: 1200px) {
  /* CSS styles for extra large screens */
  /* For example: */
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
  .container-specialist {
    .specialist-top {
      .specialist-detail-transparent {
        .specialist-detail-wrapper {
          width: 970px;
        }
      }
    }

    .specialist-bottom {
      .specialist-content-wrapper {
        width: 970px;
      }
    }
  }
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
  .container-specialist {
    .specialist-top {
      .specialist-detail-transparent {
        .specialist-detail-wrapper {
          width: 740px;
        }
      }
    }

    .specialist-bottom {
      .specialist-content-wrapper {
        width: 740px;
      }
    }
  }
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
  .container-specialist {
    .specialist-top {
      .specialist-detail-transparent {
        .specialist-detail-wrapper {
          width: 100%;
          padding: 30px 10px;
        }
      }
    }

    .specialist-bottom {
      .specialist-content-wrapper {
        width: 100%;
        padding: 0 10px;
      }
    }
  }
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
  .container-specialist {
    .specialist-top {
      .specialist-detail-transparent {
        .specialist-detail-wrapper {
          width: 100%;
          padding: 30px 10px;
        }
      }
    }

    .specialist-bottom {
      .specialist-content-wrapper {
        width: 100%;
        padding: 0 10px;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .container-specialist {
    .specialist-top {
      .specialist-detail-transparent {
        .specialist-detail-wrapper {
          width: 100%;
          padding: 30px 10px;
        }
      }
    }

    .specialist-bottom {
      .specialist-content-wrapper {
        width: 100%;
        padding: 0 10px;
      }
    }
  }
}
