.home-footer {
  background-color: #66a9ec;
  .home-footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
    font-family: overpasRegular;
    padding: 20px 0;
    color: white;
    font-size: 12px;
    align-items: center;
    p {
      margin-bottom: 0px;
    }
    a {
      font-size: 30px;
      color: black;
    }
  }
}

/* Extra large (xl) screen */
@media only screen and (min-width: 1200px) {
  /* CSS styles for extra large screens */
  /* For example: */
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
  .home-footer {
    .home-footer-wrapper {
      width: 970px;
    }
  }
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
  .home-footer {
    .home-footer-wrapper {
      width: 740px;
    }
  }
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
  .home-footer {
    .home-footer-wrapper {
      width: 100%;
      padding: 20px 10px;
    }
  }
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
  .home-footer {
    .home-footer-wrapper {
      width: 100%;
      padding: 20px 10px;
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .home-footer {
    .home-footer-wrapper {
      width: 100%;
      padding: 20px 10px;
    }
  }
}
