.user-redux-container {
  .title {
  }

  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-top: 20px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .user-redux-body {
    label:not(#img-upload) {
      font-weight: bold;
      font-size: 13px;
      text-decoration: underline;
    }
    .container {
      border: 1px solid #e7e7ee;
      padding: 30px;
      button.btn {
        padding: 0px 20px !important;
      }

      .preview-img {
        margin-bottom: 30px;

        img {
          width: 120px;
          height: 120px;
          object-fit: fill;
          border-radius: 50%;
          margin: 0 auto;
          display: block;
          margin: 0 auto;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .error {
        color: red;
        margin: 15px 0px;
        text-align: center;
      }

      label#img-upload {
        margin: 0 !important;
        padding: 4px 15px;
        border: 1px solid #0071ba;
        border-radius: 5px;
        color: white;
        background-color: #0071ba;
        cursor: pointer;
        i.img-upload {
          margin-right: 5px;
          font-size: 20px;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
.error-message {
  color: red;
  margin-left: 20px;
}

.invalid {
  border: 1px solid red;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
