.doctor-content {
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 10px 0;

  .doctor-content-left {
    width: 50%;
    padding: 20px 10px;
  }

  .doctor-content-right {
    width: 50%;
    border-left: 1px solid #ccc;
    padding: 20px 10px;

    .doctor-schedule {
      width: 100%;
    }
  }
}

/* Extra large (xl) screen */
@media only screen and (min-width: 1200px) {
  /* CSS styles for extra large screens */
  /* For example: */
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
  .doctor-content {
    display: flex;
    flex-direction: column;

    .doctor-content-left {
      width: 100%;
    }
  }
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
  .doctor-content {
    display: flex;
    flex-direction: column;

    .doctor-content-left {
      width: 100%;
    }

    .doctor-content-right {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .doctor-content {
    display: flex;
    flex-direction: column;

    .doctor-content-left {
      width: 100%;
    }

    .doctor-content-right {
      width: 100%;
    }
  }
}
