@import '../../styles/common.scss';

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;

  .languages {
    span {
      margin-right: 10px;
      cursor: pointer;
      opacity: 0.2;
    }

    .vi {
      &.active {
        opacity: 1;
        color: red;
      }
    }

    .en {
      &.active {
        opacity: 1;
        color: #3f3e70;
      }
    }

    .es {
      &.active {
        opacity: 1;
        color: #f7be00;
      }
    }

    .btn-logout {
      color: $common-text-color;
      line-height: 40px;
      height: 40px;
      padding: 0 10px;
      &:hover {
        background-color: darken($colormain, 5);
      }

      i {
        font-size: $base-size + 1px;
      }
    }
  }
}
