.schedule-container {
  height: 100%;
  position: relative;
  .schedule-date {
    outline: none;
    border: none;
    color: #337ab7;
    display: block;
    font-weight: bold;
    flex .option {
      text-align: left;
    }
  }

  .schedule-label {
    display: inline-block;
    width: auto;
    border-top: 1px solid #999999;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    // margin: 15px 0;
    padding-top: 10px;
    margin: 10px 0 15px 0;

    i {
      margin-right: 5px;
    }
  }

  .schedule-hour {
    .hours {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;

      .grid-item {
        justify-content: center;
        text-align: center;
        width: 115px;
        padding: 10px 0;
        font-weight: bold;
        cursor: pointer;
        border-radius: 2px;
        background-color: #fff04b;
        color: black;

        &:hover {
          outline: 3px solid rgb(55, 181, 249);
        }
      }
    }

    .book-free {
      margin-top: 10px;
    }

    .no-schedule {
      display: block !important;
      width: 500px;
      font-style: italic;
    }
  }
}

/* Extra large (xl) screen */
@media only screen and (min-width: 1200px) {
  /* CSS styles for extra large screens */
  /* For example: */
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
  .schedule-container {
    .schedule-hour {
      .hours {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
  .schedule-container {
    .schedule-hour {
      .hours {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
  .schedule-container {
    .schedule-hour {
      .hours {
        grid-template-columns: repeat(8, 1fr);
        overflow: scroll;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .schedule-container {
    .schedule-hour {
      .hours {
        grid-template-columns: repeat(8, 1fr);
        overflow: scroll;
      }
    }
  }
}
