.doctor-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  .profile-doctor {
    margin: 0 auto;
    margin-top: 30px;

    .profile-doctor-doctor-detail {
      width: 60%;
    }
  }

  .doctor-appointment {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;

    .doctor-schedule {
      width: 50%;
    }

    .doctor-clinic-information {
      width: 50%;
      border-left: 1px solid #dddd;
      padding-left: 20px;
      padding-top: 75px;
    }
  }

  .doctor-information {
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
    background-color: #f9f9f9;
    flex-grow: 1;
    .doctor-information-content {
      margin: 0 auto;
    }
  }
}

/* Extra large (xl) screen */
@media only screen and (min-width: 1200px) {
  /* CSS styles for extra large screens */
  /* For example: */
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
  .doctor-detail {
    .profile-doctor {
      .profile-doctor-doctor-detail {
        width: 85%;
      }
    }
  }
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
  .doctor-detail {
    .profile-doctor {
      .profile-doctor-doctor-detail {
        width: 85%;
      }
    }

    .doctor-appointment {
      display: flex;
      flex-direction: column;

      .doctor-schedule {
        width: 100%;
      }

      .doctor-clinic-information {
        width: 100%;
        border-left: none;
        padding: 0;
        margin-top: 20px;
        padding: 10px 0;
        border-top: 1px solid #ccc;
      }
    }
  }
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
  .doctor-detail {
    .profile-doctor {
      .profile-doctor-doctor-detail {
        width: 85%;
      }
    }

    .doctor-appointment {
      display: flex;
      flex-direction: column;

      .doctor-schedule {
        width: 100%;
      }

      .doctor-clinic-information {
        width: 100%;
        border-left: none;
        padding: 0;
        margin-top: 20px;
        padding: 10px 0;
        border-top: 1px solid #ccc;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .doctor-detail {
    .profile-doctor {
      .profile-doctor-doctor-detail {
        width: 100%;
      }
    }

    .doctor-appointment {
      display: flex;
      flex-direction: column;

      .doctor-schedule {
        width: 100%;
      }

      .doctor-clinic-information {
        width: 100%;
        border-left: none;
        padding: 0;
        margin-top: 20px;
        padding: 10px 0;
        border-top: 1px solid #ccc;
      }
    }
  }
}
