.doctor-detail-container {
  // width: 100%;
  // border: 1px solid red;

  .doctor-detail-summary {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    gap: 30px;
    .doctor-image {
      img {
        border-radius: 50%;
      }
    }

    .doctor-summary {
      .doctor-summary-title {
        font-size: 20px;
        font-weight: bold;
      }

      .doctor-summary-content {
        margin-top: 10px;
      }
    }
  }
}

.doctor-appointment {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;

  .doctor-schedule {
    width: 50%;
    height: 200px;
  }

  .doctor-clinic-information {
    width: 50%;
    border-left: 1px solid #dddd;
    padding-left: 20px;
    padding-top: 75px;
  }
}

.doctor-information {
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0;
  background-color: #f9f9f9;
  // height: 100%;
  .doctor-information-content {
    margin: 0 auto;
  }
}
