.doctor-detail-summary {
  display: flex;
  gap: 30px;

  .doctor-image {
    img {
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }

    // css for doctorSCSS component
    &.doctorSCSS {
      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
      span {
        display: block;
        text-align: center;
        margin-top: 10px;
        color: #18a6ca;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .doctor-summary {
    width: 100%;

    .doctor-summary-title {
      font-size: 20px;
      font-weight: bold;

      &.doctorSCSS {
        color: #45c3d2;
      }
    }

    .doctor-summary-content {
      margin-top: 10px;
    }

    .doctoc-city {
      margin-top: 5px;

      i {
        margin-right: 5px;
      }
    }

    .booking-title {
      text-transform: uppercase;
    }

    .booking-time-content {
      font-weight: lighter;
    }
  }
}

/* Extra large (xl) screen */
@media only screen and (min-width: 1200px) {
  /* CSS styles for extra large screens */
  /* For example: */
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
}
